<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Calvin Wang">
    <link rel="icon" href="../../favicon.ico"> 
    <title>BlueJade</title>
  </head>

  <body>

    <div class="container">

        <div class="row marketing">
          <div class="col-md-4 col-md-offset-1">
            <div class="panel panel-primary">

              <div class="panel-body">

                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="/pngs/<%=Random.rand(101)%>.png" width="100">
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="/user/<%= session[:username] %>">
                      <h3 class="media-heading"><%= session[:username] %></h3>
                    </a>
                    <%= Tweet.where(user_id: session[:id]).count %> tweets<br>
                    <%= FollowConnection.where(followed_user_id: session[:id]).count %> followers<br>
                    <%= FollowConnection.where(user_id: session[:id]).count %> following<br>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-primary">

              <div class="panel-title">
                <form action="/tweet" method="POST">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <img src="/pngs/<%=Random.rand(101)%>.png" height="20">
                    </div>
                    
                    <input type="text" name="tweet_text" placeholder="What is up in the hizzle?" class="form-control">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-send"></span>
                      </button>
                    </span>
                  </div>
                </form>
              </div>

              <div class="panel-body">
                <% if(@userTweets.size != 0) %>
                  <% @userTweets.each do |t| %>
                    <div class="media">
                      <div class="media-left">
                        <a href="#"> 
                          <img class="media-object" src='/pngs/<%=Random.rand(101)%>.png' height="50">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          <% user = User.find(t.user_id).username %> 
                          <a href="/user/<%= user %>">@<%= user %></a>
                          <small><%= t.created_at.strftime("%b %e, %l:%M%P") %></small>
                        </h4>
                        <%= t.text %>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  You are not following anyone!<br>
                <% end %>
              </div>
            </div>
          </div>
          <!--
          <div class="col-md-2">
            <h4 class="text-muted"><center>recommended users for you</center></h4>
            <div class="panel panel-primary">
              <div class="panel-body">

                <div class="media">
                  <div class="media-left media-middle">
                    <a href="#"> 
                      <img class="media-object" src='/pngs/<%= rand(110) %>.png' height="30">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      username
                    </h4>
                    this can be the intersection of who the ppl u follow follow
                  </div>
                </div>
                

              </div>
            </div>
          </div>
          -->
        </div>

      </div>
  </body>
</html>
