<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
	border: 1px solid black;
}
</style>
</head>
<body>
	<% if(!@self) %>
	<% if(@current_user.followed_users.include?(@other_user)) %>
	<form action="/api/v1/unfollow" accept-charset="UTF-8" method="post">
		<input type="hidden" name="other_user_id" value="<%=@other_user.id%>">
		<input type="submit" name="toggle-follow" value="Unfollow!" />
	</form>
	<% else %>
		<form action="/api/v1/follow" accept-charset="UTF-8" method="post">
			<input type="hidden" name="other_user_id" value="<%=@other_user.id%>">
		<input type="submit" name="toggle-follow" value="Follow!" />
	</form>
	<% end %>	<br></br>
<% end %>

    <% if @self%>
        <div>
          <form action="/api/v1/tweet" method="POST">
            <input type="text" name="tweet_text" />
            <input type="submit" value="tweet!">
          </form>
        </div>
    <% end %>

    <br><Br>

	<h1><%= @username %></h1>
	<div>
      <table>
        <% @profileFeed.each do |t| %>
        <tr>
            <table>
                <tr><td><b> <%= t.user_id %> </b> <i><%= @username %></i> - <%= t.created_at.strftime("%a %e, %l:%M%P") %></td></tr>
                <tr><td><%= t.text %></td></tr>
            </table>
        </tr>
        <% end %>

      </table>
    </div>
</body>
</html>
